<!DOCTYPE html>
<html>
<head>
  <title>GroupManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <span style="color:red"> 
      <ul>
        <li> <%= e %> </li>
      </ul>
    </span>
  <% end %>
<% end %>

<%= yield :dashboard_link %>

<% if current_user %>
<form action="/main/<%=current_user.id%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Log Out">
</form>
<% end %> 

<%= yield %>

</body>
</html>
